# Dueños por área. La última regla que coincide es la que cuenta.
*                          @Jared-RodriguezdelaCruz

/index.html                @Maurix2005
/css/                      @Maurix2005
/vendor/                   @Maurix2005
/js/02-efectos.js          @Maurix2005 @s0rr4
/js/07-mundo2d-dibujo.js   @Maurix2005
/js/09-mundo3d-jugador.js  @Maurix2005
/js/11-flujo.js            @Maurix2005

/audio/                    @s0rr4

/js/01b-datos-dengue.js    @anaa4752
/js/11b-educacion.js       @ElIvanciti @anaa4752
/js/11c-guero.js           @ElIvanciti @anaa4752

/README.md                 @ElIvanciti
/CONTRIBUTING.md           @ElIvanciti
/docs/                     @ElIvanciti @anaa4752

/.github/                  @Jared-RodriguezdelaCruz
